body
{
    margin: 0;
    background-color: black;
}
#first-page 
{

    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#pokeball
{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

#top
{
    margin-bottom: 10px;
}

#center
{
    position: absolute;
    top:calc(50% - 30px);
}

#center:hover{
    -webkit-transform:scale(3); /* Safari and Chrome */
    -moz-transform:scale(3); /* Firefox */
    -ms-transform:scale(3); /* IE 9 */
    -o-transform:scale(3); /* Opera */
     transform:scale(3);
     transition: 2.5s;
}

.center.zoom{
    -webkit-transform:scale(3); /* Safari and Chrome */
    -moz-transform:scale(3); /* Firefox */
    -ms-transform:scale(3); /* IE 9 */
    -o-transform:scale(3); /* Opera */
     transform:scale(3);
     transition: 2.5s;
}

#bot
{
    margin-top: 10px;
}


.top.vertiTranslate {
    width: 5000px;
    -webkit-transition: 3s;
    -moz-transition: 3s;
    -ms-transition: 3s;
    -o-transition: 3s;
    transition: 2.5s;
    margin-bottom: 50% !important;
  }

.bot.vertiTranslate {
    width: 5000px;
    -webkit-transition: 3s;
    -moz-transition: 3s;
    -ms-transition: 3s;
    -o-transition: 3s;
    transition: 2.5s;
    margin-top: 50% !important;
  }
