@font-face {
    font-family: "PokemonClassic";
    src: url("/font/PokemonClassic.ttf") format("truetype");
   }



/* P3 */
body {
    background-image: url("./images/arene.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 0px;
    padding: 0px;
}
#nav{
    background-color: rgba(0, 0, 0);
    height: 80px;
    display: flex;
    justify-content: center;
}

#nav img {
    position: absolute;
}

.arene {
    position: fixed;
}

#team {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 35px;
    font-family: "PokemonClassic";
    margin-bottom: 1%;
    color: rgb(36, 73, 52);
}

#game {
    display: flex;
    justify-content: space-between;
}

.pokemon-card{
    display: flex;
    flex-direction: row;
    width: 250px;
    justify-content: space-between;
    align-items: center;
    font-size: 10px;
    font-family: "PokemonClassic";
}
.dead{
    color: rgb(100, 100, 100);
    text-decoration:line-through;
    opacity: 0.2;
}

#team-1, #team-2 {
    display: flex;
    flex-direction: column;
}

#team-1 {
    margin-top: 185px;
}
#team-2 .dresseur1, #team-1 .dresseur2 {
    background-repeat: no-repeat;
}


#team-2 .pokemon-card {
    flex-direction: row-reverse;

}

.img-team {
    width: 60px;
}

#go-arene {
    background-color: transparent;
    padding: 20px;
    text-align: center;
    font-size: 30px;
    align-items: center;
    display: block;
    margin: auto;
    border-radius: 15px;
}