@font-face {
    font-family: "PokemonClassic";
    src: url("/font/PokemonClassic.ttf") format("truetype");
   }

body {
    background-image: url("./images/arene-back.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 0px;
    padding: 0px;
}
#nav{
    background-color: rgba(0, 0, 0);
    height: 80px;
    display: flex;
    justify-content: center;
}

#nav img {
    position: absolute;
}

#combat {
    display: flex;
    justify-content: space-around;
    text-align: center;
}



.name {
    font-size: 40px;
    font-family: "PokemonClassic";
    padding-bottom: 15px;
}

.force {
    font-size: 30px;
    font-family: "PokemonClassic";
    /* padding-bottom: 85px; */
}

#team-1 .img-team.horizTranslate {
    -webkit-transition: 3s;
    -moz-transition: 3s;
    -ms-transition: 3s;
    -o-transition: 3s;
    transition: 3s;
    margin-left: 70% !important;
  }

#team-2 .img-team.horizTranslate {
    -webkit-transition: 3s;
    -moz-transition: 3s;
    -ms-transition: 3s;
    -o-transition: 3s;
    transition: 3s;
    margin-left: -100% !important;
  }


#fight {
    background-color: transparent;
    padding: 20px;
    text-align: center;
    font-size: 30px;
    align-items: center;
    display: block;
    margin: auto;
    border-radius: 15px;
}