@font-face {
    font-family: "PokemonClassic";
    src: url("/font/PokemonClassic.ttf") format("truetype");
   }

body {
    background-image: url("./images/arene.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 0px;
    padding: 0px;
}
#nav{
    background-color: rgba(0, 0, 0);
    height: 80px;
    display: flex;
    justify-content: center;
}

#nav img {
    position: absolute;
}

.arene {
    position: fixed;
}

h1 {
    padding-top: 35px;
    font-family: "PokemonClassic";
    text-align: center;
}

.img {
    display: flex;
    justify-content: space-between;
}

#go-team{
    background-color: transparent;
    padding: 10px;
    text-align: center;
    font-size: 30px;
    align-items: center;
    display: block;
    margin: -50px auto;
    border-radius: 15px;

}

#img {
    font-family: "PokemonClassic";
    display: flex;
    font-size: 45px;
    text-align: center;
    flex-direction: column;
    margin-bottom: 125px;
}