.box {
    margin: 30px;
    height: 50px;
    width: 50px;
    background-color: blue;
  }
  .box.horizTranslate {
    -webkit-transition: 3s;
    -moz-transition: 3s;
    -ms-transition: 3s;
    -o-transition: 3s;
    transition: 3s;
    margin-left: 50% !important;
  }